version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: lemmy
      POSTGRES_DB: lemmy
      POSTGRES_PASSWORD_FILE: /run/secrets/POSTGRES_PASSWORD
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - internal
    secrets:
      - POSTGRES_PASSWORD

  pictrs:
    image: asonix/pictrs:0.4
    volumes:
      - pictrs_data:/mnt
    networks:
      - internal

  lemmy:
    image: dessalines/lemmy:0.19.5
    environment:
      LEMMY_CONFIG_LOCATION: /config/lemmy.hjson
    configs:
      - source: lemmy_hjson_template
        target: /config/lemmy.hjson.template
      - source: render_lemmy_config_sh
        target: /usr/local/bin/render-lemmy-config.sh
        mode: 0555
    secrets:
      - POSTGRES_PASSWORD
      - PICTRS_API_KEY
      - LEMMY_ADMIN_USERNAME
      - LEMMY_ADMIN_PASSWORD
      - LEMMY_ADMIN_EMAIL
    command: ["/bin/sh","-lc","/usr/local/bin/render-lemmy-config.sh && exec lemmy_server"]
    depends_on:
      - postgres
      - pictrs
    networks:
      - internal
      - reverse-proxy

  lemmy-ui:
    image: dessalines/lemmy-ui:0.19.5
    environment:
      LEMMY_UI_LEMMY_INTERNAL_HOST: lemmy:8536
      LEMMY_UI_LEMMY_EXTERNAL_HOST: forum.nu31.space
      LEMMY_UI_HTTPS: "true"
    depends_on:
      - lemmy
    networks:
      - internal
      - reverse-proxy

networks:
  internal:
    driver: overlay
  reverse-proxy:
    external: true

volumes:
  postgres_data:
  pictrs_data:

configs:
  lemmy_hjson_template:
    file: ./lemmy.hjson.template
  render_lemmy_config_sh:
    file: ./render-lemmy-config.sh

secrets:
  POSTGRES_PASSWORD:
    external: true
  PICTRS_API_KEY:
    external: true
  LEMMY_ADMIN_USERNAME:
    external: true
  LEMMY_ADMIN_PASSWORD:
    external: true
  LEMMY_ADMIN_EMAIL:
    external: true
