[Unit]
Description=Run Lemmy backup daily

[Timer]
OnCalendar=*-*-* 03:30:00 UTC
Persistent=true
Unit=lemmy-backup.service

[Install]
WantedBy=timers.target
